astor==0.8.1
astunparse==1.6.3
backoff==2.2.1
beautifulsoup4==4.12.0
bs4==0.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==7.1.2
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.0.7
cycler==0.11.0
diskcache==5.4.0
docopt==0.6.2
emod-api==1.27.4
emod-malaria==0.0.51
emodpy==1.21.0
emodpy-malaria==3.0.1
filelock==3.10.7
fonttools==4.39.3
future==0.18.3
geographiclib==2.0
graphviz==0.20.1
humanfriendly==10.0
idmtools==1.7.6
idmtools-models==1.7.6
idmtools-platform-comps==1.7.6
idna==3.4
importlib-metadata==6.1.0
importlib-resources==5.12.0
jaraco.classes==3.2.3
Jinja2==3.1.2
joblib==1.2.0
keyring==23.13.1
kiwisolver==1.4.4
lz4==4.3.2
MarkupSafe==2.1.2
matplotlib==3.7.1
more-itertools==9.0.0
natsort==8.2.0
numpy==1.24.2
packaging==21.3
pandas==2.0.0
parse==1.19.0
Pillow==9.5.0
pip==22.0.4
pipreqs==0.4.11
pluggy==1.0.0
prodict==0.8.18
pyCOMPS==2.10.0
pycparser==2.21
pygit2==1.10.1
pyparsing==3.0.9
pyproj==3.5.0
pyreadline3==3.4.1
python-dateutil==2.8.2
pytz==2023.3
pywin32-ctypes==0.2.0
PyYAML==6.0
requests==2.28.2
scikit-learn==1.2.2
scipy==1.10.1
setuptools==58.1.0
shapely==2.0.1
six==1.16.0
soupsieve==2.4
tabulate==0.9.0
threadpoolctl==3.1.0
tqdm==4.65.0
tzdata==2023.3
urllib3==1.26.15
wheel==0.40.0
xdg==6.0.0
yarg==0.1.9
zipp==3.15.0
